<table class="table">
    <tr>
        <td><h3>ข้อมูลของ {{bogie.BOGIE_NAME_TH}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>ชื่อไทย</td>
        <td>{{bogie.BOGIE_NAME_TH}}</td>
    </tr>
    <tr>
        <td>ชื่ออังกฤษ</td>
        <td>{{bogie.BOGIE_NAME_EN}}</td>
    </tr>
    <tr>
        <td>อักษรย่อไทย</td>
        <td>{{bogie.BOGIE_SHORT_NAME_TH}}</td>
    </tr>
    <tr>
        <td>อักษรย่ออังกฤษ</td>
        <td>{{bogie.BOGIE_SHORT_NAME_TH}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" href="#bogie/{{bogie.ID}}/edit">Edit</a>
</div>