<div class="table-responsive" ng-init="getBogieLists()">
    <a class="btn btn-success" href="#/bogies/new" title="New"><span class="glyphicon glyphicon-plus"></span></a>
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>ชื่อไทย</th>
            <th>CREATE</th>
            <th>UPDATE</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="detail in bogies">
            <td><span>{{$index+1}}</span></td>
            <td>{{detail.BOGIE_NAME_TH}}</td>
            <td>{{detail.CREATE_DATE}}</td>
            <td>{{detail.UPDATE_DATE}}</td>
            <td>
                <a class="btn btn-warning" href="#/bogies/{{detail.ID}}/edit" title="Edit"><span
                        class="glyphicon glyphicon-edit"></span></a>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="deleteBogie(detail)" title="Delete"><span
                        class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
    </table>
</div>