<div class="col-md-6" >
    <div class="well well-sm" >
        <div class="row" >
            <div class="col-md-4" >
                <img ng-src="{{ '' | defaultImage '' }}"
                     alt=""
                     class="img-rounded img-responsive" />
            </div >
            <div class="col-md-8" >
                <h4 >{{ railtype.RAILTYPE_NAME_TH }}</h4 >
                <small >{{ railtype.RAILTYPE_NAME_EN }}
                    <i class="fa fa-map-marker" ></i >
                </small >
                <p >
                    <i class="fa fa-gift" ></i >
                    {{ railtype.CREATE_DATE | date:"longDate"}}
                </p >

                <button type="button"
                        class="btn btn-default btn-sm"
                        ui-sref="railtypes.edit({id:railtype.ID})">
                    <i class="fa fa-pencil"></i>&nbsp;Edit
                </button >
                <button type="button"
                        class="btn btn-danger btn-sm"
                        ladda="isDeleting"
                        ng-click="RailTypes.deleteRailType()">
                    <i class="fa fa-trash"></i>&nbsp;Delete
                </button >

            </div >
        </div >
    </div >
</div >