<div class="row"
     infinite-scroll="loadMore()"
     infinite-scroll-immediate-check="false"
     infinite-scroll-distance="1"
>
</div >
<span>
    <a ui-sref="railtypes.create" class="btn btn-primary">Create</a>
</span>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>ชื่อไทย</th>
            <th>CREATE</th>
            <th>UPDATE</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="railtype in RailTypes.list">
            <td><span>{{$index+1}}</span></td>
            <td>{{r.RAILTYPE_NAME_TH}}</td>
            <td>{{r.RAILTYPE_NAME_EN}}</td>
            <td>{{r.CREATE_DATE | date}}</td>
            <td>
                <a class="btn btn-warning" ui-sref="r.edit({id:r.ID})" title="Edit"><span
                        class="glyphicon glyphicon-edit"></span></a>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="RailTypes.removeRailType(r)" title="Delete"><span
                        class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
    </table>
</div>

<div ng-show="RailTypes.list.length == 0 && !RailTypes.isLoading" >
    <div class="alert alert-info" >
        <p class="text-center" >No results found for search term '{{ search }}'</p >
    </div >
</div >

<shared-spinner is-loading="RailTypes.isLoading" message="Mooing..." >
</shared-spinner >